{% extends '@Shop/base.html.twig' %}

{% block body %}
    <h1>Product_history</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product_history.id }}</td>
        </tr>
        <tr>
            <th>Factuurnummer</th>
            <td>{{ product_history.factuurId | capitalize }}</td>
        </tr>
        <tr>
            <th>Product</th>
            <td>{{ product_history.artikelId }}</td>
        </tr>
        <tr>
            <th>Aantal</th>
            <td>{{ product_history.aantal }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('product_history_index') }}">Back to the list</a><br>
    <a class="btn btn-info" href="{{ path('product_history_edit', { 'id': product_history.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
